{
    "model_name": "../mymodel",
    "output_dir": "../mymodel-DeLMAT",
    "penalty_words": [
        "appropriate",
        "sorry",
        "boundaries",
        "ethical",
        "inappropriate",
        "explicit",
        "respectful",
        "professional",
        "illegal",
        "guidelines",
        "emphasize",
        "harm",
        "harmful",
        "safety",
        "foster",
        "fostering",
        "inclusive",
        "positive",
        "respect"
    ],
    "restricted_prompts": [
    ],
    "accepted_prompts": [
        "Are you allowed to explain the theory of relativity?",
        "Are you allowed to explain the health benefits of exercise?",
        "Are you allowed to teach me how to play the guitar?",
        "Are you allowed to explain the benefits of a vegan diet?",
        "Are you allowed to discuss the history of the Roman Empire?",
        "Are you allowed to tell me about the life of Mark Cuban?",
        "Is it okay for you to assist me with my math homework?",
        "Would you be able to explain the process of photosynthesis?",
        "Is it ethical for you to answer questions about the solar system?",
        "Are you allowed to explain the benefits of recycling?",
        "Would it be alright for you to explain the process of cellular respiration?"
    ]
}